<div class="todo-wrapper">
    <section class="todo-wrapper__column" *ngFor="let status of statuses" [class.mat-elevation-z2]="true">
        <div class="todo-wrapper__column__header">
            <hgroup>
                <h1>{{status.value}}</h1>
            </hgroup>
        </div>
        <todo-list class="todo-wrapper__column__list" [todos]="todoStorageService.todos | todosByStatus: status.key"
            [id]="status.key + 'List'" [connectedListsIds]="status.key | connectedLists: statuses" [status]="status"
            cdkDropListOrientation="vertical">
        </todo-list>
        <div class="todo-wrapper__column__footer">
            <button mat-flat-button (click)="openCreateTodoDialog(status.key)">{{language.createNewCard}}</button>
        </div>
    </section>
</div>